<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creamakers.usersystem.mapper.UserMapper">

    <!-- 插入用户信息 -->
    <insert id="insertUser" parameterType="com.creamakers.usersystem.po.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (username, password, is_admin, create_time, update_time, is_deleted, is_banned, description)
        VALUES (#{username}, #{password}, #{isAdmin}, NOW(), NOW(), #{isDeleted}, #{isBanned}, #{description})
    </insert>

    <!-- 根据用户名查询用户 -->
    <select id="findUserByUsername" resultType="com.creamakers.usersystem.po.User">
        SELECT user_id, username, password, is_admin, create_time, update_time, is_deleted, is_banned, description
        FROM user
        WHERE username = #{username}
    </select>

</mapper>
